<div class="navbar navbar-default navbar-fixed-bottom">
 <div class="container">
   <p class="navbar-text pull-left">© 2021 - Site Built By Prigo
        <a href="http://tinyurl.com/tbvalid" target="_blank" >Node-EJS Demo</a>
   </p>
   
   <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
   <span class="glyphicon glyphicon-star"></span>  Link to Github</a>
 </div>
 
 
</div>
