<!-- 1 -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a class="navbar-brand" href="#">    <img src="https://static.wikia.nocookie.net/phineasandferb/images/e/ea/Profile_-_Phineas_Flynn.PNG/revision/latest?cb=20200401182458" width="50" height="50" alt="">
  Prigo's Corner</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
     <li class="nav-item active">
       <a class="nav-link" href="/movies">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/form-movies">Add reviews</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/watch-list">Add to Watch List </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="/list-to-watch"> Watch List </a>
    </li>
   </ul>
 </div>
</nav>